.main {
  width: 50%;
  margin: auto;
  border: 1px solid #a8a8a8;
  padding-inline-start: 0;
}
.main li {
  list-style-type: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
.main li p{
  font-size: 35px;
}
button {
  display: flex!important;
}
.img {
  width: 50px;
  border-radius: 50%;
}
.main .button {
  background-color: rgb(255, 0, 0);
  padding: 15px;
  margin: 0 50px !important;
}
.main .button:hover {
  background-color: rgb(230, 119, 119);
  padding: 15px;
}
.enterNew{
    margin: auto;
    width: 30%;
    justify-content: center;
    display: flex;
}
.enterNew input{
  width: 70%;
}
@media only screen and (max-width: 600px) {
  .main {
    width: 80%;
    font-size: small;
  }
  .enterNew{
    width: 80%;
  }
  .enterNew input{
    width: 100%;
  }
  .main li p{
    font-size: 15px;
  }
}